.container{
  margin: 7rem;
  display: flex;
  flex-direction: column;
}

.title{
  color: #fff;
	font-size: 2rem;
}

.grid{
  display: grid;
	grid-template-columns: 50% 50%;
	gap: 2rem;
}

.tableContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buyButton{
  width: 50%;
  padding: 10px;
  border-radius: 10px;
}
.buyButton:hover{
  cursor: pointer;
  background-color: #EDB00F;
  transform: scale(1.01);
}
@media (max-width: 745px) {
  .grid{
    display: flex;
    flex-direction: column;
  }
}
